@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'WantedSans';
        font-style: normal;
        font-weight: 400;
        src: url(/fonts/WantedSans-Regular.woff2) format('truetype');
    }
    @font-face {
        font-family: 'WantedSans';
        font-style: normal;
        font-weight: 500;
        src: url(/fonts/WantedSans-Medium.woff2) format('truetype');
    }
    @font-face {
        font-family: 'WantedSans';
        font-style: normal;
        font-weight: 600;
        src: url(/fonts/WantedSans-SemiBold.woff2) format('truetype');
    }
    @font-face {
        font-family: 'WantedSans';
        font-style: normal;
        font-weight: 700;
        src: url(/fonts/WantedSans-Bold.woff2) format('truetype');
    }
    @font-face {
        font-family: 'WantedSans';
        font-style: normal;
        font-weight: 800;
        src: url(/fonts/WantedSans-ExtraBold.woff2) format('truetype');
    }
    @font-face {
        font-family: 'WantedSans';
        font-style: normal;
        font-weight: 900;
        src: url(/fonts/WantedSans-Black.woff2) format('truetype');
    }
    @font-face {
        font-family: 'WantedSans';
        font-style: normal;
        font-weight: 1000;
        src: url(/fonts/WantedSans-ExtraBlack.woff2) format('truetype');
    }
}
