h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    padding-top: 10px;
    border-top: 1px solid black;
}

p {
    margin-left: 10px;
}

blockquote {
    margin: 10px 0 10px 10px;
    padding-left: 10px;
    border-left: 3px solid #cccccc;
}

blockquote p {
    margin-left: 0;
}

code {
    background-color: #cccccc;
}

ol {
    list-style: decimal;
    margin: 10px 0 10px 60px;
}

img {
    margin: 10px 0;
}
